# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
venv/
.env

# Django
db.sqlite3
media/

# Node
node_modules/
dist/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/

cache/

# Environment
.idea/