asgiref==3.11.1
certifi==2026.6.17
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
geopandas==1.1.4
numpy==2.5.0
packaging==26.2
pandas==3.0.3
pyogrio==0.13.0
pyproj==3.7.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
setuptools==82.0.1
shapely==2.1.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
wheel==0.47.0
