asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
geopandas==1.1.4
idna==3.18
jenkspy==0.4.1
joblib==1.5.3
narwhals==2.23.0
networkx==3.6.1
numpy==2.5.0
osmnx==2.1.0
packaging==26.2
pandas==3.0.3
pyogrio==0.13.0
pyproj==3.7.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.0
setuptools==82.0.1
shapely==2.1.2
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
tzdata==2026.2
urllib3==2.7.0
wheel==0.47.0
